// colors
$parimary: #2a94bc;
$bg: #4c93bb;
$green: #69ad5f;
$secondary: #585858;
$text: #474747;
$bg_light:#f4f7fe;
$white: #ffffff;

// main Style
.calculator-wrapper{
    font-family: "roboto", sans-serif;
    padding: 20px;
    width:100%;
    // background-color: $bg_light;
    border:1px solid $bg;
    border-radius: 10px;
    color: $text;
    h2.cal-title{
        font-family: inherit;
        font-size: 1.9em;
        font-weight: 700;
        color: $bg;
    }
    form{
        .form-group{
            margin-bottom: 15px;
            label{
                font-weight: bold;
                font-size: 1.2em;
            }
            .invest-amount, .invest-amount:focus-visible {
                background-color: $white;
                border:1px solid $secondary !important;                            
                height: 40px;
                width: 150px;
                font-weight: bold;
            }
            // range slider
            .cal-slider{
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                outline: none;
                margin: 0;
            }
            .cal-slider:hover {
                opacity: 1;
              }
              
            .cal-slider::-webkit-slider-runnable-track{
                background-color: lighten($secondary, 40);
                height: 5px;
                border-radius: 3px;
                box-shadow: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
            }
            .cal-slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                background: $parimary;
                padding: 0px !important;
                border: 0px;
                outline: none;
                margin-top: -8px;
            }

            .cal-slider::-moz-slider-thumb {
                -moz-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                background: $parimary;
                padding: 0px !important;
                border: 0px;
                outline: none;
                margin-top: -8px;
            }

            .cal-slider::-ms-slider-thumb {
                -ms-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                background: $parimary;
                padding: 0px !important;
                border: 0px;
                outline: none;
                margin-top: 0;
            }
              
            


            small.form-text{
                font-weight: bold;
                font-size: 1em;
                border-bottom: 10px;
            }
        }
    }
    h2.cal-title2{
        font-family: inherit;
        font-size: 1.9em;
        font-weight: 700;
        color: $bg;
        margin-bottom: 0px;
    }
    p{
        font-family: inherit;
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 0px;
    }
}